@import url('https://cdnfonts.com');

:root,
* {
  padding: 0;
  margin: 0;
  font-family: 'Calculator', sans-serif;
  background: rgb(15, 12, 12);
  color: #000000
}

.root {
  width: 80vw;
  height: 80vh;
  min-width: 320px;
  max-width: 1200px;
  min-height: 400px;
  max-height: 800px;
}

.screen {
  background-color: #242121;
  height: 20vh;
  width: 90vw;
}

.btns {
  position: absolute;
  height: 19vh;
  width: 25vw;
  border-radius: 20px;
}

.btns>.val-btn {
  background-color: #131212;
}

.btns>.equal-btn {
  background-color: #ff3c00;
}